<!doctype html>
<html>
  <head>
    <title>React Isomorphic Server Side Rendering Example</title>
    <link rel="stylesheet" href="static/main.css"/>
  </head>
  <body>
	<h1 id="main-title">landing page</h1>

    <ul>
      <li><a href="/signup">Signup</a></li>
      <li><a href="/login">Log in</a></li>
    </ul>

  </body>
</html>